dont_dm = ["person1#0001", "person2#0002"]
mp_role_id = 897209066881974282
whip_role_id = 84590234850234958
aye_no_opts = ["aye", "no", "fuckin aye now", "fuckin no now"]
bot_token = "<token>"
prefix = "\\"
